@{
    ViewData["Title"] = "Home Page";
}

<div id="index-container-main" class="container-fluid">
    <div class="row">
        <h1>Support</h1>
    </div>
</div>

@section scripts {
    <script src="~/controllers/home/index.js"></script>
}
@section styles {
    <link rel="stylesheet" href="~/controllers/home/index.css" />
}